@{
    ViewData["Title"] = $"{@Model.Name}";
    Layout = "../Shared/_OtherLayout.cshtml";
}

@model Activity

<div id="main">
    <article class="post featured">

    
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>
            @switch (Model.CategoryID)
            {
                case 1:
                    Model.CategoryName = "Hygiene";
                    break;
                case 2:
                    Model.CategoryName = "Mental Health/Mindfulness";
                    break;
                case 3:
                    Model.CategoryName = "Physical Health/Fitness";
                    break;
                case 4:
                    Model.CategoryName = "Discipline";
                    break;
                case 5:
                    Model.CategoryName = "Learning/Education";
                    break;
                case 6:
                    Model.CategoryName = "Social";
                    break;
                case 7:
                    Model.CategoryName = "Financial";
                    break;
                case 8:
                    Model.CategoryName = "Spiritual";
                    break;
                default:
                    Model.CategoryName = "Undefined";
                    break;
            }
            @Model.CategoryName
        </td>   
    </tr>
</table>
        <div>
            @using (Html.BeginForm("CompleteActivity", "Activity", "Post"))
            {
                <input type="hidden" asp-for="ActivityID" value="@Model.ActivityID" />
                <input type="hidden" asp-for="Name" value="@Model.Name" />
                <input type="hidden" asp-for="Description" value="@Model.Description" />
                <input type="hidden" asp-for="CategoryID" value="@Model.CategoryID" />
                <input class="button primary fit" type="submit" onclick="return confirm('Complete this task and add it to the list of finished activities?')"
                   value="Finished?" />
            }
        </div>

<ul class="actions">
        
        <li><a class="button primary fit small" href="/Activity/UpdateActivity/@Model.ActivityID">Update</a></li>
        
        @using (Html.BeginForm("DeleteActivity", "Activity", "Post"))
        {
            <input type="hidden" asp-for="ActivityID" value="@Model.ActivityID" />
            <li><input class="button fit small" type="submit" onclick="return confirm('Delete this task?')" value="Delete" /></li>
        }

</ul>
    </article>
</div>